[submodule "sys/src/kryon"]
	path = sys/src/kryon
	url = https://github.com/kryonlabs/kryon.git
	branch = master
[submodule "sys/src/inbe"]
	path = sys/src/inbe
	url = https://github.com/waozixyz/inbe.git
[submodule "sys/src/ktrem"]
	path = sys/src/ktrem
	url = https://github.com/kryonlabs/t9.git
[submodule "sys/src/shelf"]
	path = sys/src/shelf
	url = https://github.com/kryonlabs/shelf.git
[submodule "sys/src/cmd/rill"]
	path = sys/src/cmd/rill
	url = https://github.com/kryonlabs/rill.git
	branch = master
[submodule "sys/src/pass"]
	path = sys/src/pass
	url = https://github.com/waozixyz/pass.git
	branch = master
