#!/bin/rc
mkdir -p /debian/rootfs/tmp/.X11-unix
rm -f /debian/rootfs/tmp/.X0-lock /debian/rootfs/tmp/.X11-unix/X0.req /debian/rootfs/tmp/.X11-unix/X0.q
debian-session -c 'linuxrun /usr/bin/Xvfb :0 -screen 0 1024x768x24' &
sleep 75
echo xvfb-up
debian-session -c 'linuxrun /usr/bin/xeyes -display :0 -geometry +400+300' &
sleep 120
echo diag-done
ps
