#!/bin/rc
rm -f /debian/rootfs/tmp/shot1.xwd
mkdir -p /debian/rootfs/tmp/.X11-unix
rm -f /debian/rootfs/tmp/.X0-lock /debian/rootfs/tmp/.X11-unix/X0.req /debian/rootfs/tmp/.X11-unix/X0.q
debian-session -c 'linuxrun /usr/bin/Xvfb :0 -screen 0 1024x768x24' >[2] /tmp/xvfb.log &
sleep 75
echo xvfb-up
debian-session -c 'linuxrun /usr/bin/xeyes -display :0 -geometry +312+284' >[2] /tmp/xeyes.log &
sleep 300
echo xeyes-phase
if(!test -e /debian/rootfs/tmp/shot1.xwd){
	debian-session -c 'linuxrun /usr/bin/xwd -root -out /tmp/shot1.xwd' >[2] /tmp/xwd1.log &
	sleep 600
}
echo shot-try1
if(!test -e /debian/rootfs/tmp/shot1.xwd){
	debian-session -c 'linuxrun /usr/bin/xwd -root -out /tmp/shot1.xwd' >[2] /tmp/xwd1.log &
	sleep 600
}
echo shot-try2
cp /debian/rootfs/tmp/shot1.xwd /debian/rootfs/shot1.xwd
ls -l /debian/rootfs/shot1.xwd
echo xfce-components
debian-session -c 'SHELL=/bin/sh linuxrun /usr/bin/xfwm4 --display :0' >[2] /tmp/xfwm4.log &
sleep 480
echo xfwm4-up
debian-session -c 'linuxrun /usr/bin/xfdesktop --display :0' >[2] /tmp/xfdesktop.log &
sleep 480
echo xfdesktop-up
debian-session -c 'linuxrun /usr/bin/xfce4-panel --display :0' >[2] /tmp/panel.log &
sleep 540
echo panel-up
if(!test -e /debian/rootfs/tmp/shot2.xwd){
	debian-session -c 'linuxrun /usr/bin/xwd -root -out /tmp/shot2.xwd' >[2] /tmp/xwd2.log &
	sleep 600
}
echo shot2-try1
if(!test -e /debian/rootfs/tmp/shot2.xwd){
	debian-session -c 'linuxrun /usr/bin/xwd -root -out /tmp/shot2.xwd' >[2] /tmp/xwd2.log &
	sleep 600
}
echo shot2-try2
cp /debian/rootfs/tmp/shot2.xwd /debian/rootfs/shot2.xwd
ls -l /debian/rootfs/shot2.xwd
echo ps
ps
echo xfce-final-done
